.orders-list[data-v-32cc4a12]{margin:0;font-size:.73rem}.td-income[data-v-32cc4a12]{color:#00c000;font-weight:bolder}.td-expense[data-v-32cc4a12]{color:red;font-weight:bolder}.table-subtotal td[data-v-32cc4a12]{padding-top:.25rem;padding-bottom:0}